---
layout: main
title: Contact
image: https://unsplash.it/400?random
---

<main id="contact">
  <h1 class="page-header">Contact</h1>

  <section id="contact-content">
    <img id="contact-image" src="{{ page.image }}" alt="Contact image">

    <p>
      Originally from Massachusetts, I am currently based in Evanston,
      Illinois, and have relocated to San Francisco for work.
    </p>

    <ul>
      <li>Email: danielaugustin300@gmail.com</li>
      <li>Location: Evanston, IL</li>
    </ul>

    <p>
      I’m always happy to connect about new opportunities or collaborations.
    </p>

  </section>
</main>
